*
{
  box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

@keyframes fadeIn
{
	from {opacity: 0} to {opacity: 1}
}

body
{
	background-color: #121212;
	color: #f2f2f2;
	font-family: Helvetica;
	max-width: 1920px;
	margin: 0px;
	
	animation: fadeIn 3s;
}

a:link, a:visited, a:hover, a:active
{
	color: #f2f2f2;
	text-decoration: none;
	style= "cursor:pointer";
}

div
{
	display: flex;
}

label
{
	padding: 10px;
}

input
{
	border-radius: 15px;
	border: 0px;
	padding: 10px;
	box-shadow: 3px 3px 3px 3px #12121233;	
}

input[type=submit]
{
	background-color: #f2f2f2;
	color: #121212;
	border: 1px solid #f2f2f225;
	border-radius: 15px;
	padding: 10px;
	cursor: pointer;
}

textarea
{
	min-height: 96px;
	max-height: 306px;
	resize: vertical;
	border: 0px;
	border-radius: 15px;
	padding: 10px;
	
	box-shadow: 3px 3px 3px 3px #12121233;
}

.wrapper
{
	flex-direction: column;
	overflow: auto;
}

.card
{
	justify-content: space-evenly;
	border-radius: 0px;
	height: 100vh;
}

.container
{
	flex-direction: column;
	justify-content: center;
	opacity: 100%;
	transition: opacity 0.5s;
}

.foto
{
	border-radius: 100px;
	max-width: 100%;
	height: auto;
	max-height: 90vh;
	object-fit: cover;
	
	box-shadow: 3px 3px 3px 3px #12121233;
}

.navBarLI
{
	float: left;
}

.navBarA
{
	display: block;
	padding: 10px;
	padding-left: 0;
}

.Card3Aux
{
	justify-content: space-evenly;
	max-width: 75vw;
}

.siguiente
{
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #121212;
	cursor: pointer;
	padding: 15px;
	border-radius: 20px;
	opacity: 100%;
	transition: opacity 0.5s;
	
	box-shadow: 3px 3px 3px 3px #12121233;
}

.dark_theme
{
	filter: invert(100%);
}

.iconos
{
	height: 48px;
	width: 48px;
	margin-right: 20px;
	vertical-align: middle;
	
	/* Este margen arregla un problema de alineacion vertical de los iconos de un proveedor específico */
	
	margin-bottom: 2px;
}

.aux
{
	margin-bottom: 0px;
}

@keyframes slideInFromLeft
{
  0%
  {
    transform: translateX(-100%);
  }
  
  100%
  {
    transform: translateX(0);
  }
}

#Card1Container
{
	flex-direction: column;
	justify-content: center;
	
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

#presentation
{
	margin-bottom: 100px;
}

#navBar
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#navBar2
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#Card2, #Card4
{
	background-color: #f2f2f250;
}

#habilidades > li
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#Card3
{
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#SobreMi
{
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}

#linksRelevantes
{
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}

#linksRelevantesUl > li
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#Card4Container
{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#habilidades
{
	flex-direction: column;
	justify-content: space-evenly;
	margin: 10px;
}

#MailTel
{
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}



/* ******************************** */
/*         BOTON BACK-TO-TOP        */
/* ******************************** */

.back-to-top
{
	position: fixed;
	bottom: 15px;
	right: 15px;
	/* z-index: 99; */
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #121212;
	cursor: pointer;
	padding: 15px;
	/* border: 3px solid #f2f2f225; */
	border-radius: 20px;
	opacity: 100%;
	transition: opacity 0.5s;
	
	box-shadow: 3px 3px 3px 3px #12121233;
}

.back-to-top:hover
{
	background-color: #121212;
	color: #f2f2f2;
}



/* ******************************** */
/*           PROGRESS BAR           */
/* ******************************** */

.progress-bar
{
  height: 5px;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
}



/* ******************************** */
/*     BOTON TOGGLE TEMA OSCURO     */
/* ******************************** */

/* Formateando el checkbox per se */

.toggleDarkMode
{
	position: fixed;
    top: 20px;
    right: 20px;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    width: 80px;
    height: 40px;
    background: rgb(232, 161, 57);
    border-radius: 22px;
    cursor: pointer;
    outline: none;
	opacity: 100%;
	transition: opacity 0.5s;
}

/* Formateando el circulo dentro del checkbox */

.toggleDarkMode::before
{
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 35px;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .3s linear;
}

/* Mover el circulo del checkbox cuando es activado por el usuario */

.toggleDarkMode:checked::before
{
    left: 37px;
}


/* Cambio el color del checkbox al activarlo */

.toggleDarkMode:checked
{
    background: #f2f2f225;
}



/* ******************************** */
/*	         CLASS HIDDEN           */
/* ******************************** */

/* Intencionalmente al final para evitar repetir este código */

.hidden
{
	opacity: 0%;
	cursor: default;
}