/* ******************************** */
/*            || SITEWIDE           */
/* ******************************** */

/* 
Organizo estos archivos css guiándome de este articulo de MDN 

https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing
*/

*
{
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
	overflow: auto;
	font-size: 2vh;
}

body
{
	background-color: rgb(220,215,210);
	color: #121212; 
	font-family: Helvetica;
	margin: 0; 
	width: 100%;
	height: 100%;
	animation: fadeIn 3s;
	
	display: flex;
}

form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 95vw;
}

.wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	
	/* Este height genera problemas cada vez que la barra de dirección del navegador mobile aparece. Técnicamente lo que ocurre es que vh calcula la máxima altura posible, sin la barra de direcciones; ergo arruina el diseño responsive de la página cada vez que aparece esta barra dinámicamente. */
	
	height: 100vh;
	
	/* Para solucionar ese problema decidí diseñar la página con padding-bottom para ajustar todos los container a la misma parte visible en cada card, adrede. */
	
	padding-top: 0rem;
	padding-bottom: 3rem;
}

#Card4Pic
{
	max-height: 25%;
}

.container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	overflow: hidden;
}

#Card2, #Card4
{	
	background-color: rgb(232, 161, 57);
}


/* ******************************** */
/*          || TYPOGRAPHY           */
/* ******************************** */

h1, h2, p, ul, li
{
	padding: 0;
	margin: 1rem;
}

.siguiente
{
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #121212;
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	
	width: 50%;
	max-width: 95vw;
	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}

a:link, a:visited, a:hover, a:active
{
	color: #121212;
	text-decoration: none;
	style= "cursor:pointer";
}

ul > h2
{
	margin: 1rem;
}

label
{
	padding: 1rem;
    display: flex;
	justify-content: flex-start;
}

input
{
	font-family: Helvetica;
	border-radius: 1rem;
	border: 0;
	padding: 1rem;
	width: 100%;
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}

input[type=submit]
{
	background-color: #f2f2f2;
	color: #121212;
	cursor: pointer;
	width: 50%;
	margin: 1rem;
}

textarea
{
	font-family: Helvetica;
	min-height: 6rem;
	max-height: 20rem;
	resize: vertical;
	border: 0;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 16px;
	width: 100%;
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}


/* ******************************** */
/*            || IMAGES             */
/* ******************************** */

.foto
{
	width: 100%;
	max-width: 100%;
	max-height: 40vh;
	object-fit: cover;
	border-radius: 1rem;	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121233;	
	overflow: hidden;
}

.iconos
{
	height: 2rem;
	width: 2rem;
	margin-right: 1rem;
	vertical-align: middle;
	
	/* Este margen arregla un problema de alineacion vertical de los iconos de un proveedor específico */
	
	margin-bottom: 0.125rem;
}


/* ******************************** */
/*   || ANMIATIONS AND TRANSITIONS  */
/* ******************************** */

/* Fade-in animation */

@keyframes fadeIn
{
	from {opacity: 0} to {opacity: 1}
}


/* Slide-in from left animation */

@keyframes slideInFromLeft
{
  0%
  {
    transform: translateX(-100%);
  }
  
  100%
  {
    transform: translateX(0);
  }
}


/* ******************************** */
/*         || EXTRA FEATURES        */
/* ******************************** */

/* || BOTON BACK-TO-TOP */


.back-to-top
{
	position: fixed;
    top: 1.25rem;
    right: 1.25rem;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #121212;
	cursor: pointer;
	padding: 1rem;
	border-radius: 1rem;
	opacity: 100%;
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
	visibility: visible;
	transition-delay: 0s;
	transition: visibility 0s linear, opacity 0.5s linear;
	font-size: 1rem;
	
	/* Add a z-index if needed */
	z-index: 2;
}


/* || PROGRESS BAR */


.progress-bar
{
  height: 0.3125rem;  
  background-color: #12121288;
  position: fixed;
  top: 0;
  left: 0;
}


/* || BOTON TOGGLE TEMA OSCURO */


/* Formateando el checkbox per se */

.toggleDarkMode
{
	position: fixed;
    top: 1.25rem;
    right: 1.25rem;
	
	margin: 0; /* para sobreescribir stylesheets del useragent */
	
    appearance: none;
    width: 5rem;
    height: 2.5rem;
    background: rgb(232, 161, 57);
    border-radius: 1.375rem;
    cursor: pointer;
    outline: none;
	opacity: 100%;
	
	/* Add a z-index if needed */
	z-index: 1;
	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
	
	visibility: visible;
	transition-delay: 0s;
	transition: visibility 0s linear, opacity 0.5s linear;
}

/* Formateando el circulo dentro del checkbox */

.toggleDarkMode::before
{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.1875rem;
    background-color: #f2f2f2;
    border-radius: 2.1875rem;
    top: 0.125rem;
    left: 0.125rem;
    cursor: pointer;
    transition: .3s linear;
}

/* Mover el circulo del checkbox cuando es activado por el usuario */

.toggleDarkMode:checked::before
{
    left: 2.3125rem;
}

/* Cambio el color del checkbox al activarlo */

.toggleDarkMode:checked
{
    background: #121212;
}


/* || CLASS HIDDEN Y DISABLE */

/* (Usado para alternar los botones toggle tema oscuro y back-to-top) */

.hidden
{
	opacity: 0%;
	cursor: default;
}

.disable
{
	visibility: hidden;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}


/* || SNACKBAR */

/* El snackbar - ubicado en el inferior de la pantalla y centrado. */

#formSnackbar
{
	/* Oculto por default. Visible al clickear */
	visibility: hidden;
	min-width: 20rem;

	/* Alineando el div con un ancho dinamico/indefinido */
	position: fixed;
	left: 50%;
	transform: translate(-50%);

	background-color: #f2f2f2;
	color: #121212;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;

	/* Agrego un z-index por si es necesario */
	z-index: 1;

	/* 3rem desde el inferior */
	bottom: 6rem;
}

/* Muestro el snackbar cuando clickeo el boton (agrego una clase con JavaScript) */

#formSnackbar.show
{
	visibility: visible;

	/* Agrego animaciones; 0.5 para que el snackbar haga fadein y fadeout.
	ademas agrego un delay de 2.5 segundos para el fadeout */

	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animaciones para que el snackbar tenga un fadein y fadeout */

@-webkit-keyframes fadein
{
	from {bottom: 0; opacity: 0;}
	to {bottom: 6rem; opacity: 1;}
}

@keyframes fadein
{
	from {bottom: 0; opacity: 0;}
	to {bottom: 6rem; opacity: 1;}
}

@-webkit-keyframes fadeout
{
	from {bottom: 6rem; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout
{
	from {bottom: 6rem; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}



/* ******************************** */
/*	      || MEDIA QUERIES          */
/* ******************************** */

/* Para evitar perder más tiempo armando a mano cada estilo, segmento en dos media queries principales: mobile + tablet, y laptop + desktop. */

/* || SMARTPHONES *//* max-width: 767px */
@media only screen and (max-width: 1023px)
{
	h1, h2, p
	{
		text-align: center;
	}
	
	ul > h2
	{
		text-align: center;
	}
}

/* || LAPTOPS *//* min-width: 768px */
@media only screen and (min-width: 1024px)
{
	html
	{
		font-size: 2.5vh;
	}
	
	h1
	{
		text-align: center;
	}
	
	input, textarea, .siguiente
	{
		font-size: 1rem;
	}
	
	.card
	{
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		
		padding: 1rem;
		
		overflow: hidden;
	}
	
	.container
	{
		width: 100%;
		height: 100%;
		max-height: initial;
		padding: 1rem;
	}
	
	.foto
	{
		max-height: initial;
		margin: 1rem;
		border-radius: 6rem;
	}
	
	#Card4Pic
	{
		max-height: initial;
	}
	
	#Card1, #Card4
	{
		flex-direction: row-reverse;
	}
	
	#presentation
	{
		margin-bottom: 3rem;
	}
	
	#Card1Container
	{
		animation: slideInFromLeft 2s;
	}
	
	@keyframes slideInFromLeft
	{
		0%
		{
			transform: translateX(-100%);
		}

		100%
		{
			transform: translateX(0);
		}
	}
	
	#Card1Pic
	{
		animation: slideInFromRight 2s;
	}
	
	@keyframes slideInFromRight
	{
		0%
		{
			transform: translateX(100%);
		}

		100%
		{
			transform: translateX(0);
		}
	}
	
	#Card3
	{
		
	}
}