/* || SITEWIDE */

*
{
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body
{
	background-color: rgb(220,215,210);	color: #121212; 
	font-family: Helvetica;
	margin: 0; 
	width: 100%;
	animation: fadeIn 3s;
	
	display: flex;
}

ul
{
	padding: 0;
	margin: 0;
}

form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 95vw;
}

.wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	/* Este height genera problemas cada vez que la barra de dirección del navegador mobile aparece. Técnicamente lo que ocurre es que vh calcula la máxima altura posible, sin la barra de direcciones; ergo arruina el diseño responsive de la página cada vez que aparece esta barra dinámicamente. */
	
	height: 100vh;
	
	
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 95%;
}

#Card2, #Card4
{	
	background-color: rgb(232, 161, 57);
}


/* || TYPOGRAPHY */

.siguiente
{
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #121212;
	padding: 1rem;
	border-radius: 1rem;
	
	width: 50%;
	max-width: 95vw;
	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}

a:link, a:visited, a:hover, a:active
{
	color: #121212;
	text-decoration: none;
	style= "cursor:pointer";
}

label
{
	padding: 1rem;
    display: flex;
	justify-content: flex-start;
}

input
{
	border-radius: 1rem;
	border: 0;
	padding: 1rem;
	width: 100%;
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}

input[type=submit]
{
	background-color: #f2f2f2;
	color: #121212;
	cursor: pointer;
	width: 50%;
}

textarea
{
	min-height: 6rem;
	max-height: 20rem;
	resize: vertical;
	border: 0;
	border-radius: 1rem;
	padding: 1rem;
	width: 100%;
	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}


/* || IMAGES */

.foto
{
	/* max-height: 16rem; */
	/* width: auto; */
	height: auto;
	max-width: 50%;
	object-fit: cover;
	border-radius: 1rem;
	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
}

.iconos
{
	height: 2rem;
	width: 2rem;
	margin-right: 1rem;
	vertical-align: middle;
	
	/* Este margen arregla un problema de alineacion vertical de los iconos de un proveedor específico */
	
	margin-bottom: 0.125rem;
}


/* || ANMIATIONS AND TRANSITIONS */

/* Fade-in animation */

@keyframes fadeIn
{
	from {opacity: 0} to {opacity: 1}
}


/* Slide-in from left animation */

@keyframes slideInFromLeft
{
  0%
  {
    transform: translateX(-100%);
  }
  
  100%
  {
    transform: translateX(0);
  }
}


/* || EXTRA FEATURES */


/* ******************************** */
/*         BOTON BACK-TO-TOP        */
/* ******************************** */

.back-to-top
{
	position: fixed;
	bottom: 5rem;
	right: 1rem;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #121212;
	cursor: pointer;
	padding: 1rem;
	border-radius: 1rem;
	opacity: 100%;
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
	
	visibility: visible;
	transition-delay: 0s;
	transition: visibility 0s linear, opacity 0.5s linear;
}



/* ******************************** */
/*           PROGRESS BAR           */
/* ******************************** */

.progress-bar
{
  height: 0.3125rem;
  
  /* Sé que hay parte del sitio donde no se va a ver esta barra, pero más importante me parece que es evitar darle más contraste del necesario */
  
  background-color: #f2f2f2;
  
  position: fixed;
  top: 0;
  left: 0;
}



/* ******************************** */
/*     BOTON TOGGLE TEMA OSCURO     */
/* ******************************** */

/* Formateando el checkbox per se */

.toggleDarkMode
{
	position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    appearance: none;
    /* -webkit-appearance : none; */
    /* -moz-appearance : none; */
    /* -o-appearance : none; */
    width: 5rem;
    height: 2.5rem;
    background: rgb(232, 161, 57);
    border-radius: 1.375rem;
    cursor: pointer;
    outline: none;
	opacity: 100%;
	
	box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem #12121225;
	
	visibility: visible;
	transition-delay: 0s;
	transition: visibility 0s linear, opacity 0.5s linear;
}

/* Formateando el circulo dentro del checkbox */

.toggleDarkMode::before
{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.1875rem;
    background-color: #f2f2f2;
    border-radius: 2.1875rem;
    top: 0.125rem;
    left: 0.125rem;
    cursor: pointer;
    transition: .3s linear;
}

/* Mover el circulo del checkbox cuando es activado por el usuario */

.toggleDarkMode:checked::before
{
    left: 2.3125rem;
}

/* Cambio el color del checkbox al activarlo */

.toggleDarkMode:checked
{
    background: #121212;
}



/* ******************************** */
/*	    CLASS HIDDEN Y DISABLE      */
/* ******************************** */

/* Intencionalmente al final para evitar repetir este código */

.hidden
{
	opacity: 0%;
	cursor: default;
}

.disable
{
	visibility: hidden;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}



/* ******************************** */
/*	         MEDIA QUERIES          */
/* ******************************** */

/* SMARTPHONES */
@media only screen and (max-width: 767px)
{
	h1, h2, p
	{
		text-align: center;
	}
	
	ul > h2
	{
		text-align: center;
	}
	
	
	/* || BOTON BACK-TO-TOP */
	.back-to-top
	{
		/* Con esto parcheo los problemas generados con tener 'height: 100vh' en .card*/
		
		bottom: 5rem;
	}
}